// Place all the styles related to the boardgames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// global vars
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$accent-color: rgb(27, 93, 236);

// elements
h1 {
    font: 100% $font-stack;
    color: $accent-color;
    font-weight: bold !important;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
    padding: 24px;
}

.card-wide.mdl-card {
    width: 512px;
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
  }

.card-wide > .mdl-card__title {
    color: $accent-color;
    padding: 16px;
}

.mdl-card__title-text {
    align-self: center !important;
    font-weight: bold !important;
}

.game-card-wide > .mdl-card__actions, .mdl-card--border {
    text-align: center;
}